/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    background: url('../img/bg/bg-4.png') repeat top center;
    color: #666666;
    margin-bottom: 80px;
    height: 100%;
}


h1 {
    font-size: 2.8em;
    font-weight: bold;
    margin: 20px 0;
}


h2 {
    font-size: 2.4em;
    font-weight: bold;
    margin: 15px 0;
}


h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}


.css-bg {
    /*
    background: #FFDC00;
    color: #666666;
    */
    padding-top: 30px;
    padding-bottom: 30px;
}

.html-bg {
    /*
    background:  #FF9009;
    color: #666666;
    */
    padding-top: 30px;
    padding-bottom: 30px;
}

.js-bg {
    /*
    background: #39CCCC;
    color: #666666;
    */
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #222222;
}








/* Device ctyles homeage */
#device {
    display: table;
    width: 320px;
    height: 180px;
    margin: 40px auto 0 auto;
    border: 10px solid #6c6c6c;
    border-radius: 10px;
    background: #cccccc;
    background: url('../img/bg/screen-bg.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#device .item {
    display: none;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-orientation: upright;
    vertical-align: middle;
    font-size: 28px;
}

#device .big-screen {
    display: table-cell;
}

@media all and (max-width: 1024px) {
    #device {
        transform: scale(0.9);
        transition: transform 2s ease-in-out;
    }

    #device .big-screen {
        display: none;
    }

    #device .normal-screen {
        display: table-cell;
    }
}

@media all and (max-width: 992px) {
    #device {
        transform: scale(0.7, 0.8);
        transition: transform 2s ease-in-out;
    }

    #device .big-screen,
    #device .normal-screen {
        display: none;
    }

    #device .laptop {
        display: table-cell;
    }
}

@media all and (max-width: 768px) {
    #device {
        transform: rotate(90deg) scale(0.6, 0.7);
        transition: transform 2s ease-in-out;
    }

    #device .big-screen,
    #device .normal-screen,
    #device .laptop {
        display: none;
    }

    #device .tablet {
        display: table-cell;
        font-size: 36px;
        transform: rotate(270deg);
        transition: transform 2s ease-in-out;
    }
}

@media all and (max-width: 480px) {
    #device {
        transform: rotate(90deg) scale(0.4, 0.5);
        transition: transform 2s ease-in-out;

    }

    #device .big-screen,
    #device .laptop,
    #device .normal-screen,
    #device .tablet {
        display: none;
    }

    #device .phone {
        display: table-cell;
        font-size: 40px;
        transform: rotate(270deg);
        transition: transform 2s ease-in-out;
    }
}